@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FAFAFA] text-[#2D2D2D] antialiased;
  }
}

/* Custom Global Zen Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #A9C1B5;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #E5E5E5 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
